/*floating label*/
.input-text{
    position: relative;
}

.label-form{
    position: absolute;
    top: 50%;transform: translateY(-50%);
    transition: 0.3s ease;
}

.input-text input:focus + .label-form,
.input-text input:not(:placeholder-shown) + .label-form {
  top: 0;
  font-size: 10px;
  color: #92949D;
}