.App{
    min-height: 100vh;
    background-color: #ecf1ce;
}
header{
    display: flex;
    justify-content: center;
}

h1{
    background-color: aquamarine;
}

.Box{
    background-color: chocolate;
    margin: 5px;
    padding: 8px;
    text-align: center;
    align-content: center;
    width: 90%;
}

.first-excersice-body{
    flex: 1;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.login-body{
    margin: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    place-items: center;
}

/* .container{
} */

.attendance-body{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    place-items: center;
    flex: 1;
}