/*Input-text styles*/
.input-text{
    margin: 5px 10px;
}

input{
    transition: 0.3s ease;
    background-color: #151928;
    color: #EFF0F5;
    outline: none;
    height: 30px;
    border-radius: 5px;
    overflow: hidden;
    width: 250px;
    border: 1px solid #3d3d3d;
    border-top: none;
}

input:focus{
    transition: 0.3s ease;
    background-color: #10101D;
}

.label-form{
    left: 10px;
    color: #777;
    pointer-events: none;
}

/* submit-button styles*/
.submit-button{
    background-color: #243F8A;
    border:none;
    height: 35px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 10px 5px 0;
    border-radius: 5px;
    transition: 0.5s ease;
    color: #EFF0F5;

}

.submit-button:hover{
    cursor: pointer;
    background-color: #525E9F;
    transition: 0.5s ease;
}

.submit-button:active{
    background-color: #1E2A56;
    box-shadow: 0px 0px 10px #797979;
    transition: 0.5s ease;
}

/*card-box*/
.card-box{
    border: 1px solid gainsboro;
    place-items: center;
    padding: 0px 10px;
    margin: 5px 10px; 
}

.card-header h3{
    display: flex;
    justify-content: end;
    margin: 10px 5px;
}

.full-name{
    display: inline-block;
    place-items: center;
}

.type{
    place-items: center;
}

/*card-button*/
.card-button{
    display: flex;
    width: 100%;
    justify-content: center;
}